<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/imagen/logo.png" width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a routerLink="/home" routerLinkActive="router-link-active" class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/primeraDivision" routerLinkActive="router-link-active" class="nav-link">Primera División</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/segundaDivision" routerLinkActive="router-link-active" class="nav-link">Segunda División</a>
              </li>
              <li class="nav-item dropdown" *ngIf="comprobarUsuario()">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones Jugadores
                  </a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="/addJugador" routerLinkActive="router-link-active" class="dropdown-item" href="#">Crear nuevo jugador</a></li>
                      <li><a routerLink="/editarJugador" routerLinkActive="router-link-active" class="dropdown-item" href="#">Editar Jugador</a></li>
                      <li><a routerLink="/eliminarJugador" routerLinkActive="router-link-active" class="dropdown-item" href="#">Eliminar Jugador</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                  <a *ngIf="!comprobarUsuario()" routerLinkActive="router-link-active" class="nav-link">
                      <button type="button" class="btn btn-success" (click)="irLogin()">Iniciar Sesión</button>
                  </a>
                  <a *ngIf="comprobarUsuario()" routerLinkActive="router-link-active" class="nav-link">
                      <button type="button" class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>
