<div *ngIf="validarSesionIniciada()" id="contenido">
    <h1>Crear jugador</h1>
    <form [formGroup]="jugadorForm" (ngSubmit)="crearJugador()">
        <div class="form-group mt-4">
          <label for="nombreJugador">Nombre del jugador</label>
          <input type="text" class="form-control" id="nombreJugador" formControlName="nombre">
          <small *ngIf="jugadorForm.get('nombre')?.errors?.['required']" id="errorNombre">Campo obligatorio</small>
        </div>
        <div class="form-group mt-4">
          <label for="puntosJugador">Puntos del jugador</label>
          <input type="number" class="form-control" id="puntosJugador" formControlName="puntos">
          <small *ngIf="jugadorForm.get('puntos')?.errors?.['required']" id="errorPuntuacion">Campo obligatorio</small>
        </div>
        <div class="form-group mt-4">
            <label for="divisiones">División del jugador</label>
            <select class="form-control" id="divisiones" formControlName="division">
            </select>
          </div>
        <button type="submit" class="btn btn-primary mt-2">Crear Jugador</button>
      </form>
</div>

<a *ngIf="!validarSesionIniciada()" href="/login">Inicia sesión para poder acceder</a>
