<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<div id="inicio">
    <h1 id="titulo">{{titulo}}</h1>
    <img src="../../../assets/imagen/img.jpg" id="imagenPortada" class="mt-5">
</div>

<div id="contenido" class="mt-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint harum qui repellendus autem dolor, cum, distinctio aspernatur vel corporis praesentium laboriosam. Accusantium aut veniam voluptate vel quas aspernatur inventore aperiam!</p>

    <h3 id="directivos">Equipo directivo</h3>
    <div class="row">
        <div class="col-md-6 organizadores mt-3">
            <h2>Pedro Fantasía</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/imagen/imagen.jpg" id="imagenPortada" class="imagen-responsive" alt="Descripción de la imagen">
                <div class="texto-hover">Pedro Fantasía, CEO del CORDOBA PADEL TOUR, es un líder innovador que ha transformado el mundo del pádel con su visión. Su capacidad para controlar cada aspecto del tour, desde la logística hasta la promoción, es admirable. Con su liderazgo, el tour ha alcanzado nuevos niveles de éxito, estableciendo estándares de excelencia en la organización de eventos deportivos.</div>
            </div>
        </div>
        <div class="col-md-6 organizadores mt-3">
            <h2>Iván Jiménez</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/imagen/imagen.jpg" id="imagenPortada" class="imagen-responsive" alt="Descripción de la imagen">
                <div class="texto-hover">Iván Jiménez es un programador excepcional y un apasionado jugador de pádel. Su habilidad para escribir código limpio y eficiente se iguala a su destreza en la pista. Iván equilibra su pasión por la tecnología con su amor por el deporte, destacando como un maestro en ambas disciplinas.</div>
            </div>
        </div>
    </div>
</div>



<!-- <div id="contacto" class="mb-5">
    Contactanos llamando al <a href="tel:+34">655244855</a>
</div>
     -->