#titulo{
    margin-top: 3vh;
    text-align: center;
    justify-content: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 6vh;
    font-style: normal;
    color: rgb(72, 146, 226);
}
