#inicio{
    background-image: url("../../../assets/imagen/foto.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

#titulo-box {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    padding: 25%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow */
    text-align: center;
    opacity: 50%;
}

#titulo {
    margin: 0;
}

#titulo, #directivos{
    text-align: center;
    justify-content: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 7vh;
    font-style: normal;
    color: rgb(0, 0, 0);
}
#imagenPortada{
    max-width: 75%; /* La imagen nunca será más grande que su contenedor */
    height: auto;
    max-height: 450px; /* La altura se ajustará automáticamente para mantener la proporción de aspecto */
    justify-content: center;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}
.imagen-con-hover {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.imagen-responsive {
    width: 55%;
    height: auto;
    display: block;
}

.texto-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    color: black;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 25px;
}

.imagen-con-hover:hover .texto-hover {
    opacity: 1;
}

@media (max-width: 991.98px) {
    .texto-hover {
        position: static;
        transform: none;
        opacity: 1;
        background-color: transparent;
        color: inherit;
        padding: 0;
    }
}

.organizadores{
    text-align: center;
}