<div class="row" id="formDivision">
    <form [formGroup]="divisionForm" (ngSubmit)="buscarPartidos()">
        <div class="form-group col-6">
            <select class="form-control" id="divisionSelect" formControlName="division">
            <option value="1">Primera División</option>
            <option value="2">Segunda División</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-2">Cargar</button>
    </form>
</div>
<div class="row" id="zonaPartidos">

</div>