<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<!-- Encabezado con *ngIf para mostrar el nombre de usuario si existe -->
<h1 *ngIf="validarUsuario(user)" id="titulo">Bienvenido {{ user ? user : '' }}</h1>
<nav *ngIf="validarUsuario(user)" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/imagen/logo.png" width="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/primeraDivision" routerLinkActive="router-link-active"  class="nav-link" >Primera División</a>
        </li>
        <li class="nav-item">
          <a routerLink="/segundaDivision" routerLinkActive="router-link-active"  class="nav-link" >Segunda División</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Lista de Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agregar partido</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Redirigir a la página de inicio de sesión si no hay usuario -->
<ng-container *ngIf="!validarUsuario(user)">
  <p>Redirigiendo a la página de inicio de sesión...</p>
  <!-- Utiliza routerLink para redirigir a la página de inicio de sesión -->
  <a [routerLink]="['/login']">Ir a la página de inicio de sesión</a>
</ng-container>