/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cardJugador{
    text-align: center;
    background-color:#C2E0EC ;
    border-radius: 15px;
    width: 350px;
    color: black;
}

